<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <div id="container"></div>
    <div id="info">
        <a href="https://threejs.org" target="_blank" rel="noopener">three.js</a> - Skeletal Animation Blending (model from <a href="https://www.mixamo.com/" target="_blank" rel="noopener">mixamo.com</a>)<br/> Note: crossfades are possible with blend
        weights being set to (1,0,0), (0,1,0) or (0,0,1)
    </div>
    <script type="module" src="js/hello.js"></script> -->

    <form action="/export" method="post">
        <button type="submit">Export File</button>
    </form>
</body>

</html>