<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mybatis.mapper.TableMapper">
	<select id="getTables" resultType="TableEntity">	
		SELECT
			tmp.TABLE_NAME HREF_NAME,
			t.* 
		FROM
			information_schema.TABLES t
			LEFT JOIN (
				SELECT * FROM information_schema.tables WHERE TABLE_SCHEMA = 'flex_anphu' ORDER BY TABLE_NAME
			) tmp ON t.TABLE_NAME = CONCAT(tmp.TABLE_NAME, '_detail') OR tmp.TABLE_NAME = CONCAT(t.TABLE_NAME, '_detail')
		WHERE 
			t.TABLE_SCHEMA = 'flex_anphu' 
		ORDER BY
			t.TABLE_NAME;
  	</select>
	<select id="getTableDetail" resultType="TableDetail" parameterType="TableEntity">
		SELECT 
			GROUP_CONCAT(t.TABLE_NAME SEPARATOR '\n') APPEAR_ON,
			CONCAT('[', GROUP_CONCAT(s.SEQ_IN_INDEX SEPARATOR ', '), ']') SEQ_IN_INDEX_JSON, c.* 
	    FROM 
			INFORMATION_SCHEMA.COLUMNS c 
			LEFT JOIN ( 
				SELECT * FROM information_schema.statistics s WHERE table_schema = #{TABLE_SCHEMA} AND table_name = #{TABLE_NAME} 
			) s ON c.TABLE_NAME = s.TABLE_NAME AND c.COLUMN_NAME = s.COLUMN_NAME 
			LEFT JOIN ( 
				SELECT * FROM information_schema.COLUMNS s 
				WHERE 
					TABLE_SCHEMA = #{TABLE_SCHEMA}
					AND (
						TABLE_NAME LIKE 'hpm_%'
						<if test="table_in.size > 0"> 
							OR TABLE_NAME IN 
							<foreach collection="table_in" item="item" open="(" close=")" separator=",">
								#{item}
							</foreach>
						</if>
					)
			) t ON c.COLUMN_NAME = t.COLUMN_NAME AND c.TABLE_NAME != t.TABLE_NAME
	    WHERE 
			c.TABLE_SCHEMA = #{TABLE_SCHEMA}  
			AND c.TABLE_NAME = #{TABLE_NAME} GROUP BY c.COLUMN_NAME 
		ORDER BY 
			IFNULL(c.COLUMN_KEY, 'Y') DESC, c.COLUMN_NAME ASC;
  	</select>

	<select id="getTable" resultType="String" parameterType="String">
		SELECT CONCAT(#{tableName}, '123');
	</select>
  	
</mapper>